<div class="myServices">
    <section class="descricao">
        <h1 class="title">Nossos Serviços</h1>
        <p>Oferecemos soluções completas para garantir a segurança, bem-estar e conformidade da sua empresa. Escolha uma
            categoria abaixo para visualizar todos os serviços disponíveis.</p>
    </section>
    <div class="allServices">
        <div>
            <details #detalhes (toggle)="alteraBordas()">
                <summary #sumario>Segurança do Trabalho</summary>
                <ol>
                    <li>Acompanhamento de Fiscalização do Ministério do Trabalho;</li>
                    <li>Análise de Acidente de Trabalho;</li>
                    <li>Auditoria, Consultoria e Assessoria para Certificação ISO;</li>
                    <li>SIPAT e Campanhas Educativas;</li>
                    <li>CIPA - Processo Eleitoral, Formação, Certificação e Reuniões Ordinárias;</li>
                    <li>Controle Estatístico de Acidentes e Doenças Ocupacionais;</li>
                    <li>APR - Análise Preliminar de Riscos;</li>
                    <li>APP - Análise Preliminar de Perigos;</li>
                    <li>Assessoria Técnica para Atendimento às Exigências do E-Social;</li>
                    <li>Assessoria Técnica em Perícia Trabalhista;</li>
                    <li>Auditoria em Segurança e Medicina de Empresas Terceirizadas;</li>
                    <li>Auditoria Independente em Segurança do Trabalho;</li>
                    <li>CAT - Comunicação de Acidentes de Trabalho;</li>
                    <li>Consultoria e Assessoria para Certificação e Renovação ISO;</li>
                    <li>Consultoria e Assessoria para Certificação e Renovação de Certificações;</li>
                    <li>Inventário de Espaço Confinado;</li>
                    <li>Inspeção de Segurança Interna e Externa de Vaso de Pressão;</li>
                    <li>Laudo Técnico de Insalubridade e Periculosidade;</li>
                    <li>LTCAT - Laudo Técnico das Condições Ambientais de Trabalho;</li>
                    <li>MAPA de Riscos Ocupacionais;</li>
                    <li>Ordem de Serviços;</li>
                    <li>PAE - Plano de Atendimento e Emergências;</li>
                    <li>PCE - Plano de Contingência e Emergências;</li>
                    <li>PCMAT - Programa de Condições de Meio Ambiente de Trabalho;</li>
                    <li>PGR - Programa de Gerenciamento de Riscos;</li>
                    <li>Plano de Emergência e Contingência;</li>
                    <li>POP - Procedimentos Operacionais Padrão;</li>
                    <li>PPP - Perfil Profissiográfico Previdenciário;</li>
                    <li>\Pronturários NR-12, NR-13 e NR-20;</li>
                    <li>Inventário de Espaços Confinado NR-33;</li>
                    <li>Inventário de Máquinas e Equipamentos;</li>
                    <li>PT - Permissão de Trabalho;</li>
                    <li>PTR - Permissão de Trabalho de Riscos;</li>
                    <li>RAZOP - Hazard and Operability Studies (Análise de Perigos e Operabilidade);</li>
                    <li>Treinamentos Relacionados à Segurança e Saúde no Trabalho;</li>
                </ol>
            </details>
            <details #detalhesDois (toggle)="alteraBordasDois()">
                <summary #sumarioDois>Meio Ambiente</summary>
                <ol>
                    <li>Auditoria Ambiental;</li>
                    <li>Consulta de Adequabilidades Locacional;</li>
                    <li>Monitoramento Ambiental;</li>
                    <li>PGRSS - Plano de Gerenciamento de Resíduos em Serviços de Saúde;</li>
                    <li>PGRS - Plano de Gerenciamento de Resíduos Sólidos;</li>
                    <li>PGRCC - Plano de Gerenciamento de resíduos da Construção Civil;</li>
                    <li>Plano de Emergência para Transporte de produtos Perigosos e GLP;</li>
                    <li>Plano de Armazenamento de Produtos Perigosos;</li>
                    <li>PAE - PLano de Atendimento a Emergências;</li>
                    <li>PCE - Plano de Contigência e Emergência;</li>
                    <li>Treinamento e Consultoria em Geral.</li>
                </ol>
            </details>
        </div>
        <div>
            <details #detalhesTres (toggle)="alteraBordasTres()">
                <summary #sumarioTres>Treinamentos NR's</summary>
                <ol>
                    <li>NR 01 - Análise de Risco e Elaboração de Ordens de Serviços em Saúde e Segurança do Trabalho;</li>
                    <li>NR 03 - Como Evitar Embargos e Interdições;</li>
                    <li>NR 04 - Relatório Técnico em Segurança e Saúde Ocupacional;</li>
                    <li>NR 04 - Relatório Estatístico de Acidentes de Trabalho e Doenças Ocupacionais;</li>
                    <li>NR 05 - CIPA - Comissão Interna de Prevenção de Acidentes;</li>
                    <li>NR 06 - EPI - Equipamento de Proteção Indivisual;</li>
                    <li>NR 07 - Primeiros Socorros;</li>
                    <li>NR 09 - Avaliação de Riscos Ocupacionais e Medida de Controles;</li>
                    <li>NR 11 - Operador de Máquinas Pesadas e PEMT;</li>
                    <li>NR 12 - Segurança e Saúde no Trabalho em Máquinas e Equipamentos;</li>
                    <li>NR 15 - Assessoria na Elaboração de Laudo de Insalubridade;</li>
                    <li>NR 15 - Anexo 13-A Riscos Químicos;</li>
                    <li>NR 16 - Assessoria na Elaboração de Laudo de Periculosidade;</li>
                    <li>NR 17 - Ergonomia Aplicada;</li>
                    <li>NR 18 - Treinamento de Segurança nas Atividades da Construção Civil;</li>
                    <li>NR 18 - Treinamento de Segurança na Montagem e Desmontagem de Andaimes;</li>
                    <li>NR 18 - Treinamento de Segurança na Operação de PEMT - Plataforma Elevatória Móvel de Trabalho;</li>
                    <li>NR 20 - Segurança e Saúde no Trabalho com Líquidos e Combustíveis e Inflamáveis;</li>
                    <li>NR 23 - Brigada de Incêndio e Emergência;</li>
                    <li>NR 25 - Resíduos Industriais e Educação Ambiental;</li>
                    <li>NR 26 - Sinalização de Segurança em Conformidade com Exigências Normativas;</li>
                    <li>NR 28 - Como Acompanhar a Fiscalização e Calcular Multas;</li>
                    <li>NR 31 - Segurança e Saúde no Trabalho na Agricultura, Pecuária, Silvicultura, Exploração Florestal e
                        Aquicultura;</li>
                    <li>NR 33 - Espaço Confinado;</li>
                    <li>NR 33 - Segurança e Saúde no Trabalho em Espaço Confinado;</li>
                    <li>NR 35 - Trabalho em Altura;</li>
                    <li>Interpretação e Aplicação das NR's;</li>
                    <li>Segurança no Trânsito (Direção Defensiva);</li>
                    <li>NFPA 36 - Treinamento de Segurança em Áreas Classificadas;</li>
                </ol>
            </details>
            <details #detalhesQuatro (toggle)="alteraBordasQuatro()">
                <summary #sumarioQuatro>Segurança contra Incêndios</summary>
                <ol>
                    <li>Assessoria Técnica Para Obtenção do Certificado de Conformidade (AVCB);</li>
                    <li>Assessoria Técnica Para Renovação do Certificado de Conformidade (AVCB);</li>
                    <li>Assessoria Técnica Para Brigada de Incêndio Junto ao Corpo de Bombeiros Militar;</li>
                    <li>Brigada de incêndio - Formação e Certificação;</li>
                    <li>Exercício Simulado Para Atuação de Emergência;</li>
                    <li>PCE - Plano de Contigência e Emergência;</li>
                    <li>PAE - Plano de Atendimento a Emergências;</li>
                    <li>Assessoria Para Dimensionamento de Extintores de Incêndio;</li>
                    <li>Dimensionamento de Sinalização de Segurança;</li>
                    <li>Controle de Extintores, Hidrantes, Alarmes e Luminárias de Emergência;</li>
                </ol>
            </details>
        </div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 318"><path fill="#d0cfce" fill-opacity="1" d="M0,128L60,122.7C120,117,240,107,360,90.7C480,75,600,53,720,58.7C840,64,960,96,1080,106.7C1200,117,1320,107,1380,101.3L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>