<section class="rodape">
    <div>
        <span>Empresa</span>
        <p>&copy; ESM Consultoria e Treinamentos LTDA | Todos os direitos Reservados.</p>
        <p>CNPJ: 57.896.503/0001-04</p>
        <p>CEP: 64860-000 | Uruçuí - PI</p>
    </div>
    <div>
        <span>Site</span>
        <p>Versão: <span>1.0</span></p>
        <p>Desenvolvido por: <a target="_blank" class="credits">DEVguilherme</a></p>
        <p>Ícones de <a href="https://icons8.com/icons" target="_blank" class="credits-secondary" >Icons8</a></p>
    </div>
</section>
