<header>
    <div class="header" id="header">
        <div class="logo_menu">
            <img (click)="scrollToSection('home')" src="assets/imgs/esm-sem-background.png" class="img_logo_menu" alt="Logo da ESM Concultoria e Treinamento Ltda fundada por Edval Matias">
        </div>
        <div #navigationHeader class="navigation_header">
            <button (click)="ativaShowSidebar()" class="btn_ico_header" id="one_btn_ico_header">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </button>
            <a (click)="scrollToSection('home')">Inicio</a>
            <a (click)="scrollToSection('about')">Sobre</a>
            <a (click)="scrollToSection('services')">Serviços</a>
            <a (click)="scrollToSection('blog')">Blog</a>
            <a (click)="scrollToSection('partners')">Parceiros</a>
            <a (click)="scrollToSection('contacts')">Contatos</a>
        </div>
        <button  (click)="ativaShowSidebar()" class="btn_ico_header" id="two_btn_ico_header">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
        </button>
    </div>
</header>
<div #home>
    <app-my-home></app-my-home>
</div>
<div #about>
    <app-my-about></app-my-about>
</div>
<div #services id="services">
    <app-my-services></app-my-services>
</div>
<div #blog>
    <app-my-blog></app-my-blog>
</div>
<div #partners>
    <app-my-partners></app-my-partners>
</div>
<div #contacts>
    <app-my-contacts></app-my-contacts>
</div>