<div class="myPartners">
    <h1 class="title">Parceiros de negócio</h1>
    <div class="container-partners">
        <div class="partners">
            <article class="card">
                <img src="assets/imgs/chs.png" alt="Logo da empresa CHS">
            </article>
            <article class="card">
                <img src="assets/imgs/canel.png" alt="Logo da empresa Canel">
            </article>
            <article class="card">
                <img src="assets/imgs/apipa.png" alt="Logo da assossiação APIPA">
            </article>
            <article class="card">
                <img src="assets/imgs/senar.png" alt="Logo do SENAR Piauí">
            </article>
            <article class="card">
                <img src="assets/imgs/qualicon.jpg" alt="Logo da empresa qualicon">
            </article>
            <article class="card">
                <img src="assets/imgs/ecoseg.png" alt="Logo da empresa ECOSEG">
            </article>
        </div>
    </div>
</div>
