.back-nav{
    z-index: 10;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-blue1);
    box-shadow: 1px 1px 8px var(--color-green1);
    width: 100%;
    font-size: 0.6rem;
    height: 7%;
    text-align: center;
}
.back-nav h1{
    display: none;
    margin-bottom: 0;
}
nav img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.back-nav a {
    color: var(--color-dark2);
    background-color: var(--color-my-white);
    text-decoration-line: none;
    border-radius: 10px;
    padding: 0.4rem;
}
.back-nav:hover{
    scale: 1.02;
    filter: drop-shadow(1px 1px 4px var(--color-green4));
}
.back-nav a:hover{
    background-color: var(--color-yellow1);
}
.back-nav, .back-nav a:hover{
    transition: 0.4s ease-in-out;
}
@media screen and (min-width:320px) {
    .back-nav h1{
        display: block;
        font-size: 1rem;
        color: var(--color-my-white);
    }
    .back-nav{
        justify-content: space-around;
    }
}
@media screen and (min-width: 600px) {
    .back-nav a{
        font-size: 0.7rem;
    }
    .back-nav h1{
        font-size: 1.3rem;
    }
    .back-nav{
        justify-content: space-between;
        padding: 1.6rem 3rem;
    }
    .back-nav img{
        width: 40px;
        height: 40px;
    }
}