<section class="myContacts">
    <h1 class="title">Redes de Contatos</h1>
    <div class="contatos">
        <section class="opcoes-de-contatos">
            <a href="https://wa.me/5589988090821" target="_blank">
                <img src="assets/imgs/whatsApp.png" alt="">
                <p>Contratar via whatsApp</p>
            </a>
            <a href="mailto:edvalsmatias@hotmail.com?subject=Orçamento&body=Olá, gostaria de mais informações sobre os serviços." target="_blank">
                <img src="assets/imgs/email.png" alt="">
                <p>Contratar via email</p>
            </a>
            <a href="https://www.instagram.com/edvalmatias?igsh=MXcwNHo5eDA2b3Br" target="_blank">
                <img src="assets/imgs/instagram.png" alt="">
                <p>Veja nosso instagram</p>
            </a>
        </section>
        <article>
            <div>
                <img src="assets/imgs/clique.png" alt="Ícone ilustrando um clique">
                <h2>Clique</h2>
            </div>
            <p>Para fazer a segurança.</p>
        </article>
    </div>
</section>