.myContacts {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    background-color: var(--color-my-white);
}

.myContacts h1 {
    padding-left: 0.3rem;
    text-align: center;
    color: var(--color-green4);
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

article {
    color: var(--color-dark2);
}

article div {
    display: flex;
    align-items: center;
}

article div img {
    width: 30px;
    rotate: 329deg;
}

.opcoes-de-contatos a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.opcoes-de-contatos a img {
    width: 30px;
    height: 30px;
}

.opcoes-de-contatos a p {
    border-radius: 20px;
    height: 25px;
    padding: 0rem 1.2rem ;
    color: var(--color-my-white);
    background-color: var(--color-green2);
}

.opcoes-de-contatos a:hover {
    p {
        background-color: var(--color-yellow1);
        scale: 1.03;
        filter: drop-shadow(4px 4px 4px var(--color-green2));
    }

    img {
        scale: 1.02;
        filter: drop-shadow(2px 1px 4px var(--color-yellow1));
    }
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.3rem 1rem 1rem 1rem;
    width: 100%;
    border-radius: 40px 40px 0 0;
    color: var(--color-my-white);
    background-color: var(--color-green4);
}

.rodape div span {
    margin: 1rem 0;
    color: var(--color-dark3);
}

.rodape div a {
    text-decoration: none;
    color: var(--color-yellow1);
}

article,
.rodape,
.opcoes-de-contatos {
    font-size: 0.7rem;
}
@media screen and (min-width: 375px) {
    .opcoes-de-contatos a img {
        width: 30px;
        height: 30px;
    }

    .opcoes-de-contatos a p {
        height: 30px;
        align-content: center;
    }
    .opcoes-de-contatos a{
        margin: 1rem;
    }
    .contatos {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    article,
    .rodape,
    .opcoes-de-contatos {
        font-size: 1rem;
    }
    .contatos {
        gap: 0.5rem;
    }
}
@media screen and (min-width: 480px) {
    article,
    .rodape,
    .opcoes-de-contatos {
        font-size: 1.3rem;
    }
    .contatos {
        gap: 3rem;
    }
}
@media screen and (min-width: 520px) {
    .contatos {
        flex-direction: row;
        justify-content: center;
        gap: 4rem;
    }
}

@media screen and (min-width: 800px) {
    .contatos {
        gap: 6rem;
    }
}

@media screen and (min-width: 1000px) {
    article {
        font-size: 1.4rem;
    }

    .opcoes-de-contatos a img {
        width: 40px;
        height: 40px;
    }

    .rodape {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1300px) {
    article {
        font-size: 1.2rem;
    }

    .contatos {
        gap: 6rem;
    }

    .opcoes-de-contatos {
        font-size: 1.5rem;
        gap: 6rem;
    }

    .opcoes-de-contatos a p {
        height: 45px;
    }

    .opcoes-de-contatos a img {
        width: 55px;
        height: 55px;
    }
}