<section class="myContacts">
    <h1 class="title">Redes de Contatos</h1>
    <div class="contatos">
        <section class="opcoes-de-contatos">
            <a href="https://wa.me/5589988090821" target="_blank">
                <img src="assets/imgs/whatsApp.png" alt="">
                <p>Contratar via whatsApp</p>
            </a>
            <a href="mailto:edvalsmatias@hotmail.com?subject=Orçamento&body=Olá, gostaria de mais informações sibre os serviços." target="_blank">
                <img src="assets/imgs/email.png" alt="">
                <p>Contratar via email</p>
            </a>
            <a href="https://www.instagram.com/edvalmatias?igsh=MXcwNHo5eDA2b3Br" target="_blank">
                <img src="assets/imgs/instagram.png" alt="">
                <p>Veja nosso instagram</p>
            </a>
        </section>
        <article>
            <div>
                <img src="assets/imgs/clique.png" alt="Ícone ilustrando um clique">
                <h2>Clique</h2>
            </div>
            <p>Para fazer a segurança.</p>
        </article>
    </div>
    <section class="rodape">
        <div>
            <span>Empresa</span>
            <p>&copy; ESM Consultoria e Treinamentos LTDA | Todos os direitos Reservados.</p>
            <p>CNPJ: 57.896.503/0001-04</p>
            <p>CEP: 64860-000 | Uruçuí - PI</p>
        </div>
        <div>
            <span>Site</span>
            <p>Versão: <span>1.0</span></p>
            <p>Ícone de <a href="https://icons8.com/icons" target="_blank">Icons8</a> e imagens de <a href="https://br.freepik.com/" target="_blank">Freepik</a></p>
            <p>Desenvolvido por <a href="https://www.linkedin.com/in/devguilhermebarbosa" target="_blank">DEVguilherme</a></p>
        </div>
    </section>
</section>