<app-my-second-header></app-my-second-header>
<div class="about-completo">
    <div class="container-about">
        <h2>Sobre nós</h2> <br><br>
        <aside class="noticia-video"> 
            <video controls>
               <source src="assets/videos/Vídeo do Edval Matias falando sobre a ESM Consultoria e Treinamento Ltda.mp4" type="video/mp4">
            </video>
        </aside> <br><br>
        <h2>A História da ESM Consultoria e Treinamento Ltda</h2><br><br>
        <div>
            A ESM Consultoria e Treinamento Ltda nasceu da visão de transformar a segurança do trabalho no Brasil,
            oferecendo soluções inovadoras e educação de qualidade para empresas que valorizam o bem-estar de seus
            colaboradores. Fundada com a missão de reduzir riscos, garantir conformidade legal e promover um ambiente de
            trabalho seguro e eficiente, a ESM se tornou referência no setor ao aliar tecnologia, conhecimento técnico e uma abordagem
            prática para capacitação profissional.<br><br><br>

            <h3>Os Primeiros Passos</h3><br><br>

            Desde o início, a empresa se destacou pela sua abordagem inovadora. Em um mercado onde a segurança do
            trabalho
            muitas vezes era vista apenas como um conjunto de normas burocráticas, a ESM se propôs a mudar essa
            mentalidade,
            mostrando que um ambiente seguro é um diferencial competitivo para qualquer negócio.<br>

            Com uma equipe de especialistas altamente qualificados, a empresa começou oferecendo treinamentos
            presenciais e
            consultorias personalizadas, ajudando empresas a implementar melhores práticas e a se adequarem às normas
            regulamentadoras.<br><br><br>

            <h3>A Evolução Tecnológica</h3><br><br>

            Com o tempo, a ESM percebeu que poderia ampliar seu impacto ao adotar soluções tecnológicas. Foi então que
            investiu no desenvolvimento de uma plataforma digital, permitindo que empresas e profissionais acessassem
            treinamentos online, cursos interativos e conteúdos exclusivos sobre segurança do trabalho.<br>

            Além disso, a empresa lançou seu portal de notícias, trazendo as principais atualizações sobre legislação,
            inovações e tendências do setor. Com um design inspirado no modelo do G1, o portal permite que qualquer
            pessoa
            acompanhe as novidades da área e compartilhe informações de forma simples e rápida.<br><br><br>

            <h3>A ESM Hoje</h3><br><br>

            Atualmente, a ESM é uma empresa consolidada, oferecendo uma gama completa de serviços, que inclui: <br><br>
            ✅ Segurança do Trabalho <br>
            ✅ Meio Ambiente <br>
            ✅ Treinamentos NR's <br>
            ✅ Segurança contra Incêndios <br>
            ✅ Parcerias estratégicas com empresas de diversos segmentos para promover uma cultura organizacional mais
            segura. <br><br>

            Além disso, a empresa segue inovando com a integração de tecnologia, desenvolvendo sistemas de informação
            como este site Institucional para facilitar a
            gestão e transparências dos nossos serviços. <br><br><br>

            <h3>O Futuro da ESM</h3><br><br>

            A ESM continua crescendo e evoluindo, sempre focada em sua missão de proteger vidas e transformar a cultura
            da segurança do trabalho no Brasil. Com um compromisso inabalável com a
            excelência, a empresa se prepara para expandir sua atuação e impactar ainda mais pessoas. <br>

            Seja através de seus treinamentos de alta qualidade, consultorias personalizadas ou conteúdo informativo, a
            ESM
            segue firme no propósito de tornar o ambiente de trabalho mais seguro para todos. <br><br>

            <span>Slogan: ESM Consultoria e Treinamento – Segurança do Trabalho com inovação e compromisso!</span><br><br>
        </div> 
    </div>
</div>
<app-my-contacts></app-my-contacts>