.noticia-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
video {
    height: 320px;
    width: auto;
    border-radius: 8px;
}svg{
    display: block;
    left: 0;
    bottom: -1;
    height: auto;
}
.about {
    display: flex;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--color-ebano);
    color: var(--color-dark3);
}
.about h1 {
    width: 100%;
    color: var(--color-dark3);
    background-color: var(--color-dark2);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    text-align: left;
}

.history-about h1 {
    display: none;
    width: 100%;
    color: var(--color-dark3);
    background-color: var(--color-dark2);
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
}

.fundador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fundador p {
    display: block;
    background-color: var(--color-dark2);
    text-align: left;
    border-radius: 20px 20px 20px 0;
    padding: 0.5rem;
    z-index: 3;
    margin: 4rem 0.3rem;
    width: 230px;
}

.fundador img {
    z-index: 2;
    width: 70px;
    filter: drop-shadow(2px 2px 8px var(--color-dark3));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--color-ebano) 100%);
    border-radius: 13px;
}

.fundador span {
    color: var(--color-my-white);
}

#fundador-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fundador-container a{
    text-decoration: none;
    padding: 0.6rem 1rem;
    background-color: var(--color-green2);
    color: var(--color-dark2);
    border-radius: 10px 10px 40px 40px ;
    transition: 0.4s;
}
#fundador-container a:hover{
    color: var(--color-my-white);
    background-color: var(--color-yellow1);
    filter: drop-shadow(4px 4px 4px var(--color-green2));
}

@media screen and (min-width: 200px) {
    video {
        height: 460px;
        width: auto;
        margin: 0.8rem 0;
    }
}
@media screen and (min-width: 320px) {
    .fundador p {
        width: 300px;
    }
    video {
        height: 320px;
        width: auto;
    }
}
@media screen and (min-width: 549px) {
    .about {
        align-items: center;
        min-height: 100vw;
        padding: 2rem;
        font-size: 0.9rem;
    }
    .fundador img {
        width: 80px;
        height: auto;
        border-radius: 18px;
    }

    .fundador {
        margin: 2rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .fundador p {
        width: 240px;
    }
}
@media screen and (min-width: 680px) {
    video {
        height: 430px;
        width: auto;
    }
}
@media screen and (min-width: 768px) {
    .about {
        font-size: x-large;
        padding: 3rem;
    }

    .fundador {
        margin: 2rem;
        flex-direction: row;
        align-items: center;
    }

    .fundador img {
        width: 90px;
    }

    .fundador p {
        width: 300px;
        padding: 1rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        font-size: large;
        padding: 2.5rem;
        justify-content: center;
    }

    .history {
        flex-direction: row;
        align-items: center;
    }

    .about h1 {
        display: none;
    }

    .history-about h1 {
        display: block;
    }

    .fundador {
        margin: 2rem;
        flex-direction: row;
        align-items: center;
    }

    .fundador img {
        width: 110px;
    }

    .fundador p {
        width: 300px;
        padding: 1rem;
    }
    video {
        height: 420px;
        width: auto;
    }
}

@media screen and (min-width: 1185px) {
    .about {
        font-size: 1rem;
        padding: 3rem;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
        height: 80vh;
    }

    .history {
        flex-direction: row;
        align-items: center;
    }

    .about h1 {
        display: none;
    }

    .history-about {
        width: 400px;
    }

    .history-about h1 {
        display: block;
    }

    .history-about p {
        width: 400px;
    }

    .fundador {
        flex-direction: row;
        gap: 1rem;
    }

    .fundador p {
        width: 380px;
    }
}

@media screen and (min-width: 1250px) {
    .about {
        min-height: 0;
    }
}

@media screen and (min-width: 1400px) {
    .about {
        min-height: 0;
    }
}